<div class="container">
    <h1>Cadastro</h1>
    <form>
 
      <div class="form-group">
        <label for="nome">Nome</label>
        <input type="text" name="nome" class="form-control" [(ngModel)]="user.nome" attr.placeholder="{{ 'Nome' }}">
      </div>

      <div class="form-group">
        <label for="codCurso">Código do Curso</label>
        <input type="text" name="codCurso" class="form-control" [(ngModel)]="user.codCurso" attr.placeholder="{{ 'Código do Curso' }}">
      </div>

      <div class="form-group">
        <label for="telefone">Telefone</label>
        <input type="text" name="telefone" class="form-control" [(ngModel)]="user.telefone" attr.placeholder="{{ 'Telefone' }}">
      </div>

      <div class="form-group">
        <label for="email">Email</label>
        <input type="text" name="email" class="form-control" [(ngModel)]="user.email" attr.placeholder="{{ 'Email' }}">
      </div>

      <div class="form-group">
        <label for="matricula">Matricula</label>
        <input type="text" name="matricula" class="form-control" [(ngModel)]="user.matricula" attr.placeholder="{{ 'Digite sua matrícula' }}">
      </div>

      <div class="form-group">
        <label for="senha">Senha</label>
        <input type="password" name="senha" class="form-control" [(ngModel)]="user.senha" attr.placeholder="{{ 'Escolha uma senha' }}">
      </div>
 
      <button type="submit" class="btn btn-success" (click)="registerUser()">Cadastrar</button>
 
    </form>
</div>
